body {
	background-image: url("../images/gembg.png")
}

div {
	background-color: #FCFCFCFF;
	margin: 10px;
	padding: 5px;
}

.gameHeader {
	color: #A6CBD3;
}

.crystalImg {
	height: 120px;
	width: 120px;
}

#randomNumb {
	font-size: 60px;
	color: #CAC8CE;
}

#totalScore {
	font-size: 60px;
	color: #F0C1D8;
}